---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="/"><img src="/assets/images/banner_moneybay_1200x750.png" alt="MoneyBay"></a>
      </div>
      <div class="author-name">MoneyBay</div>
      <p>Ứng dụng quản lý chi tiêu cá nhân thông minh</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Liên hệ</h3>
      <ul>
        <li><a href="https://www.facebook.com/moneybayapp" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://tiktok.com/@moneybay.app" target="_blank"><i class="fa fa-music" aria-hidden="true"></i></a></li>
        <li class="email"><a href="mailto:vutas.studio@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; MoneyBay</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
